.badge {
background-color: tomato;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.small-badge {
    background-color: tomato;
    width: 6px;
    height: 6px;
    border-radius: 50%;
}